<div id="menubar">
  <ul>
    <li><%= link_to 'Home', "." %></li>
    <% if I18n.locale == :de %>
      <li><a href="http://forum.uga-agga.de/wack-a-doo-f235/" target="_blank"><%= I18n.t 'menue.forum' %></a></li>
      <li><a href="http://wiki.wack-a-doo.de/" target="_blank"><%= I18n.t 'menue.wiki' %></a></li>
    <% end %>
    <li><a href="/agb.html" target="_blank"><%= I18n.t 'menue.agb' %></a></li>
    <li><a href="/datenschutz.html" target="_blank"><%= I18n.t 'menue.datenschutz' %></a></li>
    <li><a href="legal.html"><%= I18n.t 'menue.legal' %></a></li>
    <li><%= link_to "en", announcements_path(locale: :en) %> | 
        <%= link_to "de", announcements_path(locale: :de) %></li>
    <li><a href="http://www.facebook.com/pages/Wackadoo/239722582763809" target="_blank" id="facebook-link" ><img src="<%= asset_path 'lp/fb.png' %>" /></a></li>
  </ul>
</div>

<section id="announcement">

  <% if @announcements.first.nil? %>
    <br/><br/>
    <h1>Derzeit keine aktuellen Ankündigungen (localize me)</h1>
  <% else %>

    <h1><%= I18n.t 'announcement.title' %></h1>
  
    <% announcement = @announcements.first %>
    <article>
    <%= image_tag announcement.image_url, :id => "icon" %>
  	<h1><%= link_to announcement.title, announcement %></h1>
  	<p><%= raw announcement.content %> <%= link_to I18n.t('announcement.show_more'), announcement %></p>
      <img src="<%= asset_path 'about/shadow.png' %>" />
      <%= announcement.author %> <%= I18n.t 'announcement.time_prefix' %> <%= I18n.l announcement.updated_at %>
    </article>
  

    <% @announcements[1..-1].each do |announcement| %>
    <article>
    <%= image_tag announcement.image_url, :id => "icon", :size => "100x100" %>
  	<h1><%= link_to announcement.title, announcement %></h1>
  	<p><%= raw announcement.content.match /<p>(.*)<\/p>/ %> <%= link_to I18n.t('announcement.show_more'), announcement %></p>
      <img src="<%= asset_path 'about/shadow.png' %>" />
      <%= announcement.author %> <%= I18n.t 'announcement.time_prefix' %> <%= I18n.l announcement.updated_at %>
    </article>
    <% end %>
  <% end %>

</section>
<br />

