<div id="menubar" class="menubarbackground">
  <ul>
    <li><%= image_tag 'lp/logoswsmall.png', :id => 'logo' %></li>
    <li><%= link_to 'Home', "." %></li>
    <% if I18n.locale == :de %>
      <li><a href="http://forum.uga-agga.de/wack-a-doo-f235/" target="_blank"><%= I18n.t 'menue.forum' %></a></li>
      <li><a href="http://wiki.wack-a-doo.de/" target="_blank"><%= I18n.t 'menue.wiki' %></a></li>
    <% end %>
    <li><a href="/agb.html" target="_blank"><%= I18n.t 'menue.agb' %></a></li>
    <li><a href="/datenschutz.html" target="_blank"><%= I18n.t 'menue.datenschutz' %></a></li>
    <li><a href="legal.html"><%= I18n.t 'menue.legal' %></a></li>
    <li><%= link_to 'Login', "." %></li>
  <div id="langswitch">
    <%= link_to "en", announcements_path(locale: :en) %> | <%= link_to "de", announcements_path(locale: :de) %>
    <a href="http://www.facebook.com/pages/Wackadoo/239722582763809" target="_blank" id="facebook-link" ><img src="<%= asset_path 'lp/fb.png' %>" /></a>
  </div>
  </ul>
  <%= image_tag 'lp/switchbar_03.png', :class => 'fullsize' %>
</div>

<section id="announcement">

  <% if @announcements.first.nil? %>
    <br/><br/>
    <h1><%= I18n.t 'announcement.no_news' %></h1>
  <% else %>

    <h1><%= I18n.t 'announcement.title' %></h1>

    <% @announcements.each do |announcement, index| %>
    <article>
    <% if @announcements.first == announcement %>
      <%= image_tag announcement.image_url, :id => "icon" %>
  	  <h1><%= link_to announcement.title, announcement %></h1>
  	  <p><%= raw announcement.content %> <%= link_to I18n.t('announcement.show_more'), announcement %></p>
	<% else %>
      <table>
	    <tr>
          <td><%= image_tag announcement.image_url, :id => "icon", :size => "100x100" %></td>
  	      <td>
		    <h1><%= link_to announcement.title, announcement %></h1>
  	        <p><%= raw announcement.content.match /<p>(.*)<\/p>/ %> <%= link_to I18n.t('announcement.show_more'), announcement %></p>
		  </td>
	    </tr>
	  </table>
	<% end %>
      <%= image_tag 'about/shadow.png' %>
      <%= announcement.author %> <%= I18n.t 'announcement.time_prefix' %> <%= I18n.l announcement.updated_at %>
    </article>
    <% end %>
  <% end %>

<%= will_paginate @announcements %>

</section>
<br />

<%= image_tag 'about/footerback.jpg', :class => 'fullsize' %>
