<div id="menubar" class="menubarbackground">
  <div id="langswitch">
    <%= link_to 'en', announcements_path(locale: :en) %> | <%= link_to 'de', announcements_path(locale: :de) %>
    <%= link_to image_tag('lp/fb.png'), 'http://www.facebook.com/pages/Wackadoo/239722582763809', :target => '_blank', :id => 'facebook-link' %>
  </div>
  <ul>
    <li><%= image_tag 'lp/logoswsmall.png', :id => 'logo' %></li>
    <li><%= link_to 'Home', '.' %></li>
    <% if I18n.locale == :de %>
      <li><%= link_to I18n.t('menue.forum'), 'http://forum.uga-agga.de/wack-a-doo-f235/', :target => '_blank' %></li>
      <li><%= link_to I18n.t('menue.wiki'), 'http://wiki.wack-a-doo.de/', :target => '_blank' %></li>
    <% end %>
    <li><%= link_to I18n.t('menue.agb'), '/agb.html', :target=> '_blank' %></li>
    <li><%= link_to I18n.t('menue.datenschutz'), '/datenschutz.html', :target=> '_blank' %></li>
    <li><%= link_to I18n.t('menue.legal'), '/legal.html' %></li>
    <li><%= link_to 'Login', '.' %></li>
  </ul>
  <%= image_tag 'lp/switchbar_03.png', :class => 'fullsize' %>
</div>

<section id="announcement">

  <% if @announcements.first.nil? %>
    <br/><br/>
    <h1><%= I18n.t 'announcement.no_news' %></h1>
  <% else %>

    <h1><%= I18n.t 'announcement.title' %></h1>

    <% @announcements.each do |announcement| %>
    <article>
    <% if @announcements.first == announcement %>
      <%= image_tag announcement.image_url, :class => 'icon' %>
  	  <h1><%= link_to announcement.title, announcement %></h1>
  	  <p><%= raw announcement.content %> <%= link_to I18n.t('announcement.show_more'), announcement %></p>
	<% else %>
      <table>
	    <tr>
          <td><%= image_tag announcement.image_url, :class => 'icon', :size => '100x100' %></td>
  	      <td>
		    <h1><%= link_to announcement.title, announcement %></h1>
  	        <p><%= raw announcement.content.match /<p>(.*)<\/p>/ %> <%= link_to I18n.t('announcement.show_more'), announcement %></p>
		  </td>
	    </tr>
	  </table>
	<% end %>
      <%= image_tag 'about/shadow.png' %>
      <%= announcement.author %> <%= I18n.t 'announcement.time_prefix' %> <%= I18n.l announcement.updated_at %>
    </article>
    <% end %>
  <% end %>

<%= will_paginate @announcements %>

</section>
<br />

<%= image_tag 'about/footerback.jpg', :class => 'fullsize' %>
