<section id="announcement">

  <% if @announcements.first.nil? %>
    <br/><br/>
    <h1><%= I18n.t 'announcement.no_news' %></h1>
  <% else %>
    <% @announcements.each do |announcement| %>
      <article id="announcement<%= announcement.id %>">
        <% if @announcements.first == announcement %>
          <%= image_tag announcement.get_image_url, :class => 'icon first' %>
          <h1><%= link_to announcement.title, announcement %></h1>
          <div class="author first"><span class="name"><%= announcement.author %></span> <span class="date"><%= I18n.t 'announcement.time_prefix' %> <%= I18n.l announcement.created_at ||  announcement.edited_at  %></span></div>
          <p><%= raw announcement.content %></p>
    	  
        <% else %>
          <table>
            <tr>
              <td><%= image_tag announcement.get_image_url, :class => 'icon' %></td>
              <td>
                <h2><%= link_to announcement.title, announcement %></h2>
                <div class="author first"><span class="name"><%= announcement.author %></span> <span class="date"><%= I18n.t 'announcement.time_prefix' %> <%= I18n.l announcement.created_at || announcement.edited_at %></span></div>
                <p><%= raw announcement.content_teaser %> <%= link_to I18n.t('announcement.show_more'), announcement %></p>
              </td>
            </tr>
          </table>
        <% end %>
        <div class="statistics">
          <% if @announcements.first == announcement %>
            <% if session[:likes].nil? || !session[:likes].include?(announcement.get_original_id) %>
              <%= link_to I18n.t('announcement.like'), { action: 'like', id: announcement.id } %> | 
            <% else %>
              <%= link_to I18n.t('announcement.dislike'), { action: 'dislike', id: announcement.id } %> | 
            <% end %>
          <% end %>
	        <%= announcement.get_global_likes %> <%= I18n.t('announcement.likes') %> | 
	        <%= announcement.get_global_views %> <%= I18n.t 'announcement.views' %>
        </div>
        <% if @announcements.first == announcement %>
          <%= image_tag 'about/shadow.png' %>
        <% end %>
      </article>
    <% end %>
  <% end %>

<%= will_paginate @announcements %>


</section>

<script>
  var ids = <%= @announcements.map { |a| a.id }.to_json %>; 
  if (typeof window.Sample !== "undefined")
  {
    Sample.pageStart(3);
    Sample.contentView(ids, "announcement");
  }
</script>


