<section id=announcement>
  <p id="notice"><%= notice %></p>

  <article class="single">
    <%= image_tag @announcement.get_image_url, :class => 'icon' %>
    
    <h1><%= @announcement.title %></h1>
    <div class="author first"><span class="name"><%= @announcement.author %></span> <span class="date"><%= I18n.t 'announcement.time_prefix' %> <%= I18n.l @announcement.created_at || @announcement.edited_at  %></span></div>
    
    <p><%= raw @announcement.content %></p>

    <div class="statistics">
      <% if session[:likes].nil? || !session[:likes].include?(@announcement.get_original_id) %>
        <%= link_to I18n.t('announcement.like'), { action: 'like' } %>
      <% else %>
        <%= link_to I18n.t('announcement.dislike'), { action: 'dislike' } %>
      <% end %>
      | <%= @announcement.get_global_likes %> <%= I18n.t('announcement.likes') %> | <%= @announcement.get_global_views %> <%= I18n.t 'announcement.views' %>
    </div>
  </article>
  
  <div class="article-navigation">
    <%= link_to_unless(@announcement.previous.nil?, I18n.t('announcement.previous'), @announcement.previous, rel: 'prev') %> |
    <%= link_to I18n.t('announcement.back'), announcements_path %> |
    <%= link_to_unless(@announcement.next.nil?, I18n.t('announcement.next'), @announcement.next, rel: 'next') %>
  </div>
</section>

<script>
  if (typeof window.Sample !== "undefined")
  {
    Sample.pageStart("a"+<%= @announcement.id || 0 %>);
    Sample.contentView(<%= @announcement.id || 0 %>, "announcement");
  }
</script>
