<section id=announcement>
  <p id="notice"><%= notice %></p>
  
  <article>
    <h1><%= @announcement.title %></h1>
    <%= image_tag @announcement.image_url, :class => 'icon' %>
    <p><%= raw @announcement.content %></p>
    <%= image_tag 'about/shadow.png' %>
    <%= @announcement.author %> <%= I18n.t 'announcement.time_prefix' %> <%= I18n.l @announcement.edited_at %>
	<div class="statistics"><%= @announcement.get_global_views %> <%= I18n.t 'announcement.views' %></div>
  </article>
  
  <%= link_to_unless(@announcement.previous.nil?, I18n.t('announcement.previous'), @announcement.previous) %>
  | <%= link_to I18n.t('announcement.back'), announcements_path %> |
  <%= link_to_unless(@announcement.next.nil?, I18n.t('announcement.next'), @announcement.next) %>
</section>
