

<div id="language-switch">
  <a href="/en">en</a> | <a href="/de">de</a>
</div>

<div id="mainbar">
  <div class="center">
    <div id="togglebar"></div>
  </div>
  

  
  <div id="figures">
    <img id="figures-foreground" src="<%= asset_path 'lp/group_800.png' %>">
  </div>
</div>


<div id="inbetween">
  
  <div id="loginbar">
  </div>

  
  <div id="menubar">
  </div>

      
  <div id="switchbar">
    <div id="switchbar-top"></div>
    <div id="switchbar-content">
      <div id="switchbar-logo">
        <img id="logo-small" src="<%= asset_path 'lp/logoswsmall.png' %>"  alt="" />
      </div>
      <div id="switchbar-teaser"><%= I18n.t 'home_page.switchbar.teaser' %> <span class="arrow">&nbsp;</span></div>
    </div>
    <div id="switchbar-bottom"></div>
  </div>
</div>


<div id="detailsbar">
  
    <div class="center-panel">
      <div id="panel">
        <div class="panel-row">
          <div class="panel-column" id="column-r1c1">
            <h1><%= I18n.t 'home_page.about.box1.title' %></h1>
            <p><%= raw(I18n.t 'home_page.about.box1.body') %></p>
          </div><div class="panel-column" id="column-r1c2">
            <h1><%= I18n.t 'home_page.about.box2.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box2.body') %></p>
          </div><div class="panel-column" id="column-r1c3">
            <img src="<%= asset_path 'about/warrior_pose_3_256_shadow.png' %>"  alt="" />
          </div>
        </div>
        <div class="panel-row">
          <div class="panel-column" id="column-r2c1">
            <h1><%= I18n.t 'home_page.about.box3.title' %></h1>
            <img alt="" src="<%= asset_path "about/#{I18n.t 'home_page.about.whatdoido'}" %>" />
          </div>
        </div>
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r3c1">
            <h1><%= I18n.t 'home_page.about.box4.title' %></h2>
            <img alt="" src="<%= asset_path 'about/screenshot1.png' %>" />
            <img alt="" src="<%= asset_path 'about/screenshot2.png' %>" />
            <img alt="" src="<%= asset_path 'about/screenshot4.png' %>" />
            <img alt="" src="<%= asset_path 'about/screenshot3.png' %>" />
            <img alt="" src="<%= asset_path 'about/screenshot1.png' %>" />
            <img alt="" src="<%= asset_path 'about/screenshot2.png' %>" />
          </div><div class="panel-column" id="column-r3c2">
            <h1><%= I18n.t 'home_page.about.box5.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box5.body') %></p>
          </div>
        </div>
        <div class="panel-row panel-top-ruler">
          <p style="margin-top:-20px;"><%= I18n.t 'home_page.about.more_details' %></p>

          <div class="panel-column" id="column-r4c1">
            <h1><%= I18n.t 'home_page.about.box6.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box6.body') %></p>
          </div><div class="panel-column" id="column-r4c2">
            <img src="<%= asset_path 'about/items.png' %>" alt="" />
          </div>
        </div>
        <div class="panel-row panel-top-ruler larger-font"><div class="panel-column" id="column-r5c2">
            <img src="<%= asset_path 'about/devices.png' %>" alt="" />
          </div><div class="panel-column" id="column-r5c1">
            <h1><%= I18n.t 'home_page.about.box7.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box7.body') %></p>
          </div>
        </div>
        <!--
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r6c1">
            <h1><%= I18n.t 'home_page.about.box7.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box7.body') %></p>
          </div>
        </div>
        -->
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r7c1">
            <img src="<%= asset_path 'about/profil.png' %>" alt="" />
          </div>
          <div class="panel-column" id="column-r7c2">
            <h1><%= I18n.t 'home_page.about.box9.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box9.body') %></p>
          </div>
        </div>
      </div>
    </div>  
    <div id="sitemap">
    </div>  
</div>

<script type="text/x-handlebars" data-template-name="menue">
  <ul>
    <li><a href="#" {{action "aboutClicked"}}><%= I18n.t 'menue.about' %></a></li>
    <li><a href="http://forum.uga-agga.de/wack-a-doo-f235/" target="_blank"><%= I18n.t 'menue.forum' %></a></li>
    <li><a href="legal.html"><%= I18n.t 'menue.legal' %></a></li>
    <li>
      {{#if controller.context }}
        <a href="#" {{action "showSignup"}}><%= I18n.t 'menue.signup' %></a>
      {{else}}
        <a href="#" {{action "showSignin"}}><%= I18n.t 'menue.signin' %></a>
      {{/if}}
    </li>
  </ul>
</script>


<script type="text/x-handlebars" data-template-name="toggle-view">
  {{#if controller.context}}
    <%= I18n.t 'home_page.togglebar.signup' %>
  {{else}}
    <%= I18n.t 'home_page.togglebar.signin' %>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="bar-view">
 {{#unless hidden}}
   {{#if type }}
     {{view Portal.SigninBarView }}
   {{else}}
     {{view Portal.SignupBarView }}   
   {{/if}}
 {{/unless}}
</script>


<script type="text/x-handlebars" data-template-name="signup-form">
<div class="form-fields-group">
  {{#if registrationStatus.isLoading}}
    {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small"}}
  {{else}}
    {{#if registrationStatus.canSignup }}
      {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email' %>" valueBinding="Portal.DialogController.credentials.email"}}
      {{view Portal.TextField id="password" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.password' %>" type="password" valueBinding="Portal.DialogController.credentials.password"}}
      {{#if isLoading}}
        <button title="<%= I18n.t 'home_page.signup_tooltip' %>" type="submit" class="submit-button">
          {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
        </button>
      {{else}}
        <button {{action "submit"}} title="<%= I18n.t 'home_page.signup_tooltip' %>" type="submit" class="submit-button">
          <%= I18n.t 'home_page.signup' %>
          </button>
      {{/if}}
    {{else}}
      <%= I18n.t 'home_page.no_signup_message' %>
    {{/if}}  
  {{/if}}  
</div>
</script>


<script type="text/x-handlebars" data-template-name="signin-form">
<div class="form-fields-group">
  {{#if registrationStatus.isLoading}}
    {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small"}}
  {{else}}
    {{#if registrationStatus.canSignin}}
      {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email_or_nickname' %>" valueBinding="Portal.DialogController.credentials.email"}}
      {{view Portal.TextField id="password" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.password' %>" type="password" valueBinding="Portal.DialogController.credentials.password"}}
      {{#if isLoading}}
        <button title="<%= I18n.t 'home_page.signin_tooltip' %>" type="submit" class="submit-button">
          {{view AWE.UI.Ember.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
        </button>
      {{else}}
        <button {{action "submit"}} title="<%= I18n.t 'home_page.signin_tooltip' %>" type="submit" class="submit-button">
          <%= I18n.t 'home_page.signin' %>
          </button>
      {{/if}}
    {{else}}
      <%= I18n.t 'home_page.no_signin_message' %>
    {{/if}}
  {{/if}}
 </div>
</script>

<script type="text/x-handlebars" data-template-name="dialog">
<div class="dialog-wrapper">
  {{#if controller.context}}
      {{view Portal.SigninDialog controllerBinding="Portal.DialogController"}}
  {{else}}
      {{view Portal.SignupDialog controllerBinding="Portal.DialogController"}}
  {{/if}}
</div>
</script>

<script type="text/x-handlebars" data-template-name="signin-dialog">
  <div class="dialog">
    {{#if registrationStatus.canSignin}}
    <div class="dialog-left-column">
      {{view Portal.SigninBarView}}
    </div>
    <div class="dialog-right-column">
      <ul>
        {{#if Portal.DialogController.lastError}}
          <li class="error">
          {{#unless Portal.DialogController.lastError.notAnError}}
            <%= I18n.t('Error')%>:
          {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
        {{/if}}
        <li><%= I18n.t 'home_page.signin_tooltip' %></li>
        <li><%= I18n.t 'home_page.dialog.signup_help' %> <a href="#" {{action "showSignup" }} ><%= I18n.t 'home_page.dialog.signup_link' %></a></li>
        <li><%= I18n.t 'home_page.dialog.forgotten_password_help' %> <a href="#" {{action "showPasswordReset" }} ><%= I18n.t 'home_page.dialog.forgotten_password_link' %></a></li>
        <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="#" {{action "showSupport" }} ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
      </ul>
    </div>
    {{else}}
      <%= I18n.t 'home_page.no_signin_message' %>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="signup-dialog">
  <div class="dialog">
    {{#if showWaitingListNotice}}
      <div class="dialog-right-column">
        <%= raw(I18n.t('home_page.waiting_list_notice')) %>
      </div>
    {{else}}
      {{#if registrationStatus.canSignup}}
        <div class="dialog-left-column">
          {{view Portal.SignupBarView}}
        </div>
        <div class="dialog-right-column">
          <ul>
            {{#if Portal.DialogController.lastError}}
              <li class="error">
              {{#unless Portal.DialogController.lastError.notAnError}}
                <%= I18n.t('Error')%>: 
              {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
            {{/if}}
            <li><%= I18n.t 'home_page.signup_tooltip' %></li>
            <li><%= I18n.t 'home_page.dialog.signin_help' %> <a href="#" {{action "showSignin" }} ><%= I18n.t 'home_page.dialog.signin_link' %></a></li>
            <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="#" {{action "showSupport" }} ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
          </ul>
        </div>
      {{else}}
        <%= I18n.t('home_page.no_signup_message') %>
      {{/if}}
    {{/if}}
  </div>
</script>

