<div class="center" id="language-switch">
  <div id="top-controls">
    <a href="/en">en</a> | <a href="/de">de</a> &nbsp; &nbsp;
    <a href="http://www.facebook.com/pages/Wackadoo/239722582763809" target="_blank" id="facebook-link" ><img src="<%= asset_path 'lp/fb.png' %>" /></a>
  </div>
</div>

<div id="mainbar">
  <div class="center">
    <div id="togglebar"></div>
  </div>
  
  <div id="figures">
    <img id="figures-foreground" src="<%= asset_path 'lp/group_800.png' %>">
  </div>
</div>


<div id="inbetween">
  
  <div style="position: relative; top: -60px; height: 0px; font-size: 24px;">
    Hier geht's zur Testrunde: <a href="https://test1.wack-a-doo.de">https://test1.wack-a-doo.de</a>
  </div>
  
  <div id="loginbar">
  </div>

  
  <div id="menubar">
  </div>

      
  <div id="switchbar">
    <div id="switchbar-top"></div>
    <div id="switchbar-content">
      <div id="switchbar-logo">
        <img id="logo-small" src="<%= asset_path 'lp/logoswsmall.png' %>"  alt="" />
      </div>
      <div id="switchbar-teaser"><%= I18n.t 'home_page.switchbar.teaser' %> <span class="arrow">&nbsp;</span></div>
    </div>
    <div id="switchbar-bottom"></div>
  </div>
</div>


<div id="detailsbar">
  
    <div class="center-panel">
      <div id="panel">
        <div class="panel-row">
          <div class="panel-column" id="column-r1c1">
            <h1><%= I18n.t 'home_page.about.box1.title' %></h1>
            <p><%= raw(I18n.t 'home_page.about.box1.body') %></p>
          </div><div class="panel-column" id="column-r1c2">
            <h1><%= I18n.t 'home_page.about.box2.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box2.body') %></p>
          </div><div class="panel-column" id="column-r1c3">
            <img src="<%= asset_path 'about/warrior_pose_3_256_shadow.png' %>"  alt="" />
          </div>
        </div>
        <div class="panel-row">
          <div class="panel-column" id="column-r2c1">
            <h1><%= I18n.t 'home_page.about.box3.title' %></h1>
            <img alt="" src="<%= asset_path "about/#{I18n.t 'home_page.about.whatdoido'}" %>" />
          </div>
        </div>
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r3c1">
            <h1><%= I18n.t 'home_page.about.box4.title' %></h2>
            <a alt="" href="<%= asset_path 'about/screenshot2large.png' %>" target="_blank"><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot2.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot3large.png' %>" target="_blank"><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot3.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot4large.png' %>" target="_blank"><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot4.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot5large.png' %>" target="_blank"><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot5.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot6large.png' %>" target="_blank"><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot6.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot8large.png' %>" target="_blank"><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot8.png' %>" /></a>
          </div><div class="panel-column" id="column-r3c2">
            <h1><%= I18n.t 'home_page.about.box5.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box5.body') %></p>
          </div>
        </div>
        <div class="panel-row panel-top-ruler">
          <p style="margin-top:-20px;"><%= I18n.t 'home_page.about.more_details' %></p>

          <div class="panel-column" id="column-r4c1">
            <h1><%= I18n.t 'home_page.about.box6.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box6.body') %></p>
          </div><div class="panel-column" id="column-r4c2">
            <img src="<%= asset_path 'about/items.png' %>" alt="" />
          </div>
        </div>
        <div class="panel-row panel-top-ruler larger-font"><div class="panel-column" id="column-r5c2">
            <img src="<%= asset_path 'about/devices.png' %>" alt="" />
          </div><div class="panel-column" id="column-r5c1">
            <h1><%= I18n.t 'home_page.about.box7.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box7.body') %></p>
          </div>
        </div>
        <!--
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r6c1">
            <h1><%= I18n.t 'home_page.about.box7.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box7.body') %></p>
          </div>
        </div>
        -->
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r7c1">
            <img src="<%= asset_path 'about/profil.png' %>" alt="" />
          </div>
          <div class="panel-column" id="column-r7c2">
            <h1><%= I18n.t 'home_page.about.box9.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box9.body') %></p>
          </div>
        </div>
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r8c1">
            <h1><%= I18n.t 'home_page.about.team.title' %></h1>

            <div class="team-member">
              <a href="http://www.facebook.com/patrickfox.de">
                <img src="<%= asset_path 'team/patrick.jpg' %>" />
              </a>
              <span>Patrick Fox, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.facebook.com/sascha77">
                <img src="<%= asset_path 'team/sascha.jpg' %>" />
              </a>
              <span class="black">Sascha Lange, Freiburg</span>
            </div>            
            
            <div class="team-member">
              <a href="http://www.facebook.com/hajo.runne">
                <img src="<%= asset_path 'team/hajo.jpg' %>" />
              </a>
              <span>Hajo Runne, Mannheim</span>
            </div>             

            <div class="team-member">
              <a href="http://www.christiane-ott.com/">
                <img src="<%= asset_path 'team/otti.jpg' %>" />
              </a>
              <span>Otti, Freiburg</span>
            </div>            
            
            <div class="team-member">
              <img src="<%= asset_path 'team/arno.jpg' %>" />
              <span>Arno Möller, Bremerhaven</span>
            </div>              
            
            <div class="team-member">
              <a href="http://www.twitter.com/JulianSchmid">
                <img src="<%= asset_path 'team/julian.jpg' %>" />
              </a>
              <span>Julian Schmid, Freiburg</span>
            </div>
    
            <div class="team-member">
              <a href="#">
                <img src="<%= asset_path 'team/sockenpuppe.jpg' %>" />
              </a>
              <span>Max Buck, Freiburg</span>
            </div>   

            <div class="team-member">
              <a href="http://www.mohr-media.de">
                <img src="<%= asset_path 'team/thomas.jpg' %>" />
              </a>
              <span>Thomas Mohr, Waldkirch</span>
            </div>  
            
            <div class="team-member">
              <a href="http://www.alexanderpierschel.de/">
                <img src="<%= asset_path 'team/pikomi.jpg' %>" />
              </a>
              <span>Pikomi, Berlin</span>
            </div>              
            
            <div class="clearfix"></div>
            
            <h1><%= I18n.t 'home_page.about.team.former_members' %></h1>
            <div class="team-member">
              <a href="http://www.david-canela.com">
                <img src="<%= asset_path 'team/david.jpg' %>" />
              </a>
              <span>David Canela, Basel</span>
            </div>   

            
          </div>
        </div>        
      </div>
    </div>  
    <div id="sitemap">
    </div>  
</div>

<script type="text/x-handlebars" data-template-name="menue">
  <ul>
    <li><a href="#" {{action "aboutClicked"}}><%= I18n.t 'menue.about' %></a></li>
	<li><%= link_to I18n.t('menue.news'), announcements_path %></li>
    <% if I18n.locale == :de %>
      <li><a href="http://forum.uga-agga.de/wack-a-doo-f235/" target="_blank"><%= I18n.t 'menue.forum' %></a></li>
      <li><a href="http://wiki.wack-a-doo.de/" target="_blank"><%= I18n.t 'menue.wiki' %></a></li>
    <% end %> 
    <li><a href="agb.html" target="_blank"><%= I18n.t 'menue.agb' %></a></li>
    <li><a href="datenschutz.html" target="_blank"><%= I18n.t 'menue.datenschutz' %></a></li>
    <li><a href="legal.html"><%= I18n.t 'menue.legal' %></a></li>
    <li>
      {{#if controller.context }}
        <a href="#" {{action "showSignup"}}><%= I18n.t 'menue.signup' %></a>
      {{else}}
        <a href="#" {{action "showSignin"}}><%= I18n.t 'menue.signin' %></a>
      {{/if}}
    </li>
  </ul>
</script>


<script type="text/x-handlebars" data-template-name="toggle-view">
  {{#if controller.signinContext}}
    <%= I18n.t 'home_page.togglebar.signup' %>
  {{else}}
    <%= I18n.t 'home_page.togglebar.signin' %>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="bar-view">
 {{#unless hidden}}
   {{#if signinType }}
     {{view Portal.SigninBarView }}
   {{/if}}
   {{#if signupType }}
     {{view Portal.SignupBarView }}
   {{/if}}
 {{/unless}}
</script>


<script type="text/x-handlebars" data-template-name="signup-form">
<div class="form-fields-group">
  {{#if registrationStatus.isLoading}}
    {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}}
  {{else}}
    {{#if registrationStatus.canSignup }}
      {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email' %>" valueBinding="Portal.DialogController.credentials.email"}}
      {{view Portal.TextField id="password" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.password' %>" type="password" valueBinding="Portal.DialogController.credentials.password"}}
      {{#if isLoading}}
        <button title="<%= I18n.t 'home_page.signup_tooltip' %>" type="submit" class="submit-button">
          {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
        </button>
      {{else}}
        <button {{action "submit"}} title="<%= I18n.t 'home_page.signup_tooltip' %>" type="submit" class="submit-button">
          <%= I18n.t 'home_page.signup' %>
          </button>
      {{/if}}
    {{else}}
      <%= I18n.t 'home_page.no_signup_message' %>
    {{/if}}  
  {{/if}}  
</div>
</script>


<script type="text/x-handlebars" data-template-name="signin-form">
<div class="form-fields-group">
  {{#if registrationStatus.isLoading}}
    {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}}
  {{else}}
    {{#if registrationStatus.canSignin}}
      {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email_or_nickname' %>" valueBinding="Portal.DialogController.credentials.email"}}
      {{view Portal.TextField id="password" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.password' %>" type="password" valueBinding="Portal.DialogController.credentials.password"}}
      {{#if isLoading}}
        <button title="<%= I18n.t 'home_page.signin_tooltip' %>" type="submit" class="submit-button">
          {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
        </button>
      {{else}}
        <button {{action "submit"}} title="<%= I18n.t 'home_page.signin_tooltip' %>" type="submit" class="submit-button">
          <%= I18n.t 'home_page.signin' %>
          </button>
      {{/if}}
    {{else}}
      <%= I18n.t 'home_page.no_signin_message' %>
    {{/if}}
  {{/if}}
 </div>
</script>

<script type="text/x-handlebars" data-template-name="password-form">
<div class="form-fields-group">
  {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email_or_nickname' %>" valueBinding="Portal.DialogController.credentials.email"}}
  {{#if isLoading}}
    <button title="<%= I18n.t 'home_page.password_tooltip' %>" type="submit" class="submit-button">
      {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
    </button>
  {{else}}
    <button {{action "submit"}} title="<%= I18n.t 'home_page.password_tooltip' %>" type="submit" class="submit-button">
      <%= I18n.t 'home_page.reset' %>
      </button>
  {{/if}}
 </div>
</script>

<script type="text/x-handlebars" data-template-name="dialog">
<div class="dialog-wrapper">
  {{#if controller.signinContext}}
    {{view Portal.SigninDialog controllerBinding="Portal.DialogController"}}
  {{else}}
    {{#if controller.signupContext}}
      {{view Portal.SignupDialog controllerBinding="Portal.DialogController"}}
    {{else}}
      {{#if controller.passwordContext}}
        {{view Portal.PasswordDialog controllerBinding="Portal.DialogController"}}
      {{/if}}
    {{/if}}}
  {{/if}}
</div>
</script>

<script type="text/x-handlebars" data-template-name="signin-dialog">
  <div class="dialog">
    {{#if registrationStatus.canSignin}}
    <div class="dialog-image">&nbsp;</div>
    <div class="dialog-left-column">
      {{view Portal.SigninBarView}}
    </div>
    <div class="dialog-right-column">
      <ul>
        {{#if Portal.DialogController.lastError}}
          <li class="error">
          {{#unless Portal.DialogController.lastError.notAnError}}
            <%= I18n.t('Error')%>:
          {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
        {{/if}}
        <li><%= I18n.t 'home_page.signin_tooltip' %></li>
        <li><%= I18n.t 'home_page.dialog.signup_help' %> <a href="#" {{action "showSignup" }} ><%= I18n.t 'home_page.dialog.signup_link' %></a></li>
        <li><%= I18n.t 'home_page.dialog.forgotten_password_help' %> <a href="#" {{action "showPasswordReset" }} ><%= I18n.t 'home_page.dialog.forgotten_password_link' %></a></li>
        <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="mailto:support@5dlab.com" ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
      </ul>
    </div>
    {{else}}
      <%= I18n.t 'home_page.no_signin_message' %>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="signup-dialog">
  <div class="dialog">
    {{#if showWaitingListNotice}}
      <div class="dialog-right-column">
        <%= raw(I18n.t('home_page.waiting_list_notice')) %>
      </div>
    {{else}}
      {{#if registrationStatus.canSignup}}
        <div class="dialog-image">&nbsp;</div>
        <div class="dialog-left-column">
          {{view Portal.SignupBarView}}
        </div>
        <div class="dialog-right-column">
          <ul>
            {{#if Portal.DialogController.lastError}}
              <li class="error">
              {{#unless Portal.DialogController.lastError.notAnError}}
                <%= I18n.t('Error')%>: 
              {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
            {{/if}}
            <li><%= I18n.t 'home_page.signup_tooltip' %></li>
            <li><%= I18n.t 'home_page.dialog.signin_help' %> <a href="#" {{action "showSignin" }} ><%= I18n.t 'home_page.dialog.signin_link' %></a></li>
            <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="mailto:support@5dlab.com" ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
          </ul>
        </div>
      {{else}}
        <%= I18n.t('home_page.no_signup_message') %>
      {{/if}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="password-dialog">
  <div class="dialog">
    <div class="dialog-image">&nbsp;</div>
    {{#if Portal.DialogController.passwordTokenSent }}
      <div class="dialog-right-column">
        <%= raw(I18n.t('home_page.password_hint')) %>
      </div>
    {{else}}
      {{#if Portal.DialogController.passwordTokenNotSent }}
        <div class="dialog-right-column">
          <%= raw(I18n.t('home_page.password_token_not_sent')) %>
        </div>
      {{else}}
        {{#if Portal.DialogController.passwordSent }}
          <div class="dialog-right-column">
            <%= raw(I18n.t('home_page.password_sent')) %>
          </div>
        {{else}}
          {{#if Portal.DialogController.passwordNotSent }}
            <div class="dialog-right-column">
              <%= raw(I18n.t('home_page.password_not_sent')) %>
            </div>
          {{else}}
            <div class="dialog-left-column">
              {{view Portal.PasswordBarView}}
            </div>
            <div class="dialog-right-column">
              <ul>
                {{#if Portal.DialogController.lastError}}
                  <li class="error">
                  {{#unless Portal.DialogController.lastError.notAnError}}
                    <%= I18n.t('Error')%>: 
                  {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
                {{/if}}
                <li><%= I18n.t 'home_page.password_tooltip' %></li>
                <li><%= I18n.t 'home_page.dialog.signin_help' %> <a href="#" {{action "showSignin" }} ><%= I18n.t 'home_page.dialog.signin_link' %></a></li>
                <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="mailto:support@5dlab.com" ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
              </ul>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</script>

