<div class="center" id="language-switch">
  <div id="top-controls">
    
    <%= link_to "en", params.merge(locale: :en) %> |
    <%= link_to "de", params.merge(locale: :de) %> &nbsp; &nbsp;
    <a href="http://www.facebook.com/pages/Wackadoo/239722582763809" target="_blank" id="facebook-link" >&nbsp;</a>
    <img class="img-preloader" src="<%= asset_path 'lp/fb-hover.png' %>">
  </div>
</div>


<div id="mainbar">
  <!--<div class="corner-ribbon">
    <img alt="" src="<%= asset_path 'lp/corner_ribbon.' + I18n.locale.to_s + '.png' %>">
  </div>-->

  <div class="center">
    <div id="togglebar"></div>
  </div>
  
  <div id="figures">
    <!--<img id="figures-foreground" src="<%= asset_path 'lp/group_800.png' %>">-->
    <% if !@invitation.blank? %>
      <div id="invitation-notice" title="Du bist über einen persönlichen Einladungslink gekommen. Solange Du diesen Vermerk hier siehst, kannst Du sicher sein, dass Dir mit der Einladung vermerkte Vorteile bei einer Neuanmeldung gutgeschrieben werden.">
        Aktive Einladung:<br/> <%= @invitation %>
      </div>
    <% end %>
    <!--<div id="beta-notice">
      <%= raw I18n.t 'home_page.beta_notice' %>
    </div>-->
    <h1 id="slogan-first" class="slogan">
      <%= raw I18n.t 'home_page.slogans.first' %>
    </h1>
    <h1 id="slogan-second" class="slogan" style="display: none;">
      <%= raw I18n.t 'home_page.slogans.second' %>
    </h1>
    <h1 id="slogan-third" class="slogan" style="display: none;">
      <%= raw I18n.t 'home_page.slogans.third' %>
    </h1>
    <h1 id="slogan-forth" class="slogan" style="display: none;">
      <%= raw I18n.t 'home_page.slogans.forth' %>
    </h1>
    <h1 id="slogan-fifth" class="slogan" style="display: none;">
      <%= raw I18n.t 'home_page.slogans.fifth' %>
    </h1>
    <h1 id="slogan-sixth" class="slogan" style="display: none;">
      <%= raw I18n.t 'home_page.slogans.sixth' %>
    </h1>
    <h1 id="slogan-seventh" class="slogan" style="display: none;">
      <%= raw I18n.t 'home_page.slogans.seventh' %>
    </h1>

    <!--<div class="title-screenshot video">-->
      <!--<iframe src="http://player.vimeo.com/video/71450595?portrait=0&byline=0&title=0" width="240" height="135" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
      <!--<div class="subline"><%= I18n.t 'home_page.video.subline' %> <a href="http://www.startnext.de/wack-a-doo" target="_blank"><%= I18n.t 'home_page.video.subline_link' %></a></div>-->
    <!--</div>-->

  </div>
</div>


<div id="inbetween">
  
  <% if Rails.env == "staging" %>
  <div style="position: relative; top: -60px; height: 0px; font-size: 24px;">
    <%= raw I18n.t 'home_page.test_round_warning' %> <a href="https://wack-a-doo.de">https://wack-a-doo.de</a>
  </div>
  <% end %>
  
  <!--<div id="loginbar">
  </div>-->

  
  <div id="menubar">
  </div>

      
  <div id="switchbar">
    <div id="switchbar-top"></div>
    <div id="switchbar-content">
      <div id="switchbar-logo"> 
        <img id="logo-small" src="<%= asset_path 'lp/logoswsmall.png' %>"  alt="" />
      </div>
      <div id="switchbar-teaser">
        <span id="teaser-text"><%= I18n.t 'home_page.switchbar.teaser' %></span>
      </div>
      <div id="switchbar-spacer"></div>
      <div id="switchbar-arrow">
        <span id="arrow" class="arrow-down">&nbsp;</span>
      </div>
    </div>
    <div id="switchbar-bottom"></div>
  </div>
</div>


<div id="detailsbar">
  
    <div class="center-panel">
      <div id="panel">
        <div class="panel-row">
          <div class="panel-column" id="column-r1c1">
            <h1><%= I18n.t 'home_page.about.box1.title' %></h1>
            <p><%= raw(I18n.t 'home_page.about.box1.body') %></p>
          </div><div class="panel-column" id="column-r1c2">
            <h1><%= I18n.t 'home_page.about.box2.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box2.body') %></p>
          </div><div class="panel-column" id="column-r1c3">
            <img src="<%= asset_path 'about/warrior_pose_3_256_shadow.png' %>"  alt="" />
          </div>
        </div>
        <div class="panel-row">
          <div class="panel-column" id="column-r2c1">
            <h1><%= I18n.t 'home_page.about.box3.title' %></h1>
            <img alt="" src="<%= asset_path "about/#{I18n.t 'home_page.about.whatdoido'}" %>" />
          </div>
        </div>
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r3c1">
            <h1><%= I18n.t 'home_page.about.box4.title' %></h1>
            <a alt="" href="<%= asset_path 'about/screenshot2large.png' %>" rel="lightbox[screenshots]" ><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot2.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot3large.png' %>" rel="lightbox[screenshots]" ><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot3.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot4large.png' %>" rel="lightbox[screenshots]" ><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot4.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot5large.png' %>" rel="lightbox[screenshots]" ><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot5.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot6large.png' %>" rel="lightbox[screenshots]" ><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot6.png' %>" /></a>
            <a alt="" href="<%= asset_path 'about/screenshot8large.png' %>" rel="lightbox[screenshots]" ><img class="screenshot" alt="" src="<%= asset_path 'about/screenshot8.png' %>" /></a>
          </div><div class="panel-column" id="column-r3c2">
            <h1><%= I18n.t 'home_page.about.box5.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box5.body') %></p>
          </div>
        </div>
        <div class="panel-row panel-top-ruler r10">
          <h1 id="title-r10"><%= I18n.t 'home_page.about.box10.title' %></h1>
          <div class="panel-column" id="column-r10c1">
            <p><%=raw(I18n.t 'home_page.about.box10.body') %></p>
          </div><div class="panel-column" id="column-r10c2">
            <img class="browser-icon" src="/images/chrome.png" alt="" />
            <img class="browser-icon" src="/images/ie.png" alt="" />
            <img class="browser-icon" src="/images/safari.png" alt="" />
            <img class="browser-icon" src="/images/firefox.png" alt="" />
            <a href="http://itunes.com/app/wackadoo/id558781257" target="_blank">
              <img class="app-logo" src="<%= asset_path 'about/app_logo.png' %>" alt="" /><img class="app-store-button" src="<%= asset_path 'about/Available_on_the_App_Store_Badge_DE_135x40.png' %>" alt="" />
            </a>
          </div>
        </div>



        <div class="panel-row panel-top-ruler">
          <p style="margin-top:-20px;"><%= I18n.t 'home_page.about.more_details' %></p>
          <div class="panel-column" id="column-r4c2">
            <img src="<%= asset_path 'about/items.png' %>" alt="" />
          </div>
          <div class="panel-column" id="column-r4c1">
            <h1><%= I18n.t 'home_page.about.box6.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box6.body') %></p>
          </div>
        </div>
        
        
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r13c1">
            <h1><%= I18n.t 'home_page.about.box8.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box8.body') %></p>
          </div><div class="panel-column" id="column-r13c2">
            <img src="<%= asset_path 'about/region.png' %>" alt="" />
          </div>
        </div>

        <div class="panel-row panel-top-ruler">
        <div class="panel-column" id="column-r14c2">
          <img src="<%= asset_path 'about/community.png' %>" alt="" />
        </div>
          <div class="panel-column" id="column-r14c1">
            <h1><%= I18n.t 'home_page.about.box11.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box11.body') %></p>
          </div>
        </div>



        <div class="panel-row panel-top-ruler larger-font"><div class="panel-column" id="column-r5c2">
            <img id="img-devices" src="<%= asset_path 'about/devices.png' %>" alt="" /><br/>
            <a href="http://itunes.com/app/wackadoo/id558781257" target="_blank">
              <img class="app-logo" src="<%= asset_path 'about/app_logo.png' %>" alt="" />
              <img class="app-store-button" src="<%= asset_path 'about/Available_on_the_App_Store_Badge_DE_135x40.png' %>" alt="" />
            </a>
          </div><div class="panel-column" id="column-r5c1">
            <h1><%= I18n.t 'home_page.about.box7.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box7.body') %></p>
          </div>
        </div>
        
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r12">
            <h1><%= I18n.t 'home_page.about.beta2.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.beta2.body') %></p>
            <img src="<%= asset_path 'about/beta2_buildings.png' %>" alt="" style="width: 536px; padding-left: 80px;" />
            <img src="<%= asset_path 'about/beta2_dialog.png' %>" alt="" style="width: 536px; padding-left: 80px;" />
        </div>

        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r7c1">
            <img src="<%= asset_path 'about/profil.png' %>" alt="" />
          </div>
          <div class="panel-column" id="column-r7c2">
            <h1><%= I18n.t 'home_page.about.box9.title' %></h1>
            <p><%=raw(I18n.t 'home_page.about.box9.body') %></p>
          </div>
        </div>
        
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-social">
            <h1><%= I18n.t 'home_page.about.vote.title' %></h1>
            <p>
              <span style="width:88px; height:31px; display:inline-block; overflow:hidden; background-image:url(<%= asset_path 'partners/bgbutton.gif' %>); background-repeat:no-repeat; text-align:left;"><a href="http://www.kostenlose-browsergames.de/index.php?username=Wack-A-Doo" target="_blank" style="width:87px; height:27px; display:inline-block; margin: 4px 0 0 1px; font-family:Arial,sans-serif; font-size:11px; font-weight:bold; line-height:12px; letter-spacing:0px; color:#ffffff; text-decoration:none;">kostenlose browsergames</a></span>
              <span><a href="http://www.xbrowsergames.de" title="Browsergames"><img src="<%= asset_path 'partners/xbg_red.gif' %>" alt="Browsergames" /></a></span>
              <a href="http://www.browsergamer.de/"  target="_blank"><img border="0" alt="Browsergames kostenlos" src="<%= asset_path 'partners/bg_de_button.png' %>"  /></a>
              <a href="http://www.schlaugames.com/Wack-A-Doo" target="_blank"><img src="<%= asset_path 'partners/schlaugames_vote2.jpg' %>" alt="SCHLAUGAMES - Das Browsergames Verzeichnis"></a>
              <a href="http://bgs.gdynamite.de/charts_vote_2730.html" target="_blank"><img src="<%= asset_path 'partners/gd_animbutton.gif' %>" border="0"></a>
              <a href="http://www.appgamers.de/wack-a-doo-neues-aufbauspiel/" target="_blank"><img height="31" class="slim-border" src="<%= asset_path 'partners/appgamers.png' %>" border="0"></a>
              <!-- add further partner links here -->
            </p>
            <p> <%= I18n.t 'home_page.about.vote.intro' %></p>
          </div>
        </div>
        
        <div class="panel-row panel-top-ruler">
          <div class="panel-column" id="column-r8c1">
            <h1><%= I18n.t 'home_page.about.team.title' %></h1>

            <div class="team-member">
              <a href="http://www.facebook.com/patrickfox.de" target="_blank">
                <img src="<%= asset_path 'team/patrick.jpg' %>" />
              </a>
              <span>Patrick Fox, Osnabrück</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.facebook.com/sascha77" target="_blank">
                <img src="<%= asset_path 'team/sascha.jpg' %>" />
              </a>
              <span class="black">Sascha Lange, Freiburg</span>
            </div>            
            
            <div class="team-member">
              <a href="http://www.facebook.com/hajo.runne" target="_blank">
                <img src="<%= asset_path 'team/hajo.jpg' %>" />
              </a>
              <span>Hajo Runne, Marburg</span>
            </div>             

            <div class="team-member">
              <a href="http://www.christiane-ott.com/" target="_blank">
                <img src="<%= asset_path 'team/otti.jpg' %>" />
              </a>
              <span>Otti, Freiburg</span>
            </div>            
            
            <div class="team-member">
              <img src="<%= asset_path 'team/arno.jpg' %>" />
              <span>Arno Möller, Bremerhaven</span>
            </div>              
            

    
            <div class="team-member">
              <a href="http://www.alexanderpierschel.de/" target="_blank">
                <img src="<%= asset_path 'team/pikomi.jpg' %>" />
              </a>
              <span>Pikomi, Berlin</span>
            </div>              
            
            <div class="team-member">
              <a href="https://plus.google.com/101483300659068546027" target="_blank">
                <img class="selfmade" src="<%= asset_path 'team/marcel.jpg' %>" />
              </a>
              <span>Marcel Wiegand, Osnabrück</span>
            </div>              
            
            <div class="team-member">
              <img src="<%= asset_path 'team/sockenpuppe.jpg' %>" />
              <span>Matteo Bottin, Freiburg</span>
            </div>

            <div class="team-member">
              <img class="selfmade" src="<%= asset_path 'team/jan.jpg' %>" />
              <span>Jan Hendrik Kegel, Freiburg</span>
            </div>

            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img class="selfmade" src="<%= asset_path 'team/daniel.jpg' %>" />
              </a>
              <span>Daniel Band, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img src="<%= asset_path 'team/sockenpuppe.jpg' %>" />
              </a>
              <span>Radik Yusupov, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img src="<%= asset_path 'team/sockenpuppe.jpg' %>" />
              </a>
              <span>Artur Susdorf, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img src="<%= asset_path 'team/sockenpuppe.jpg' %>" />
              </a>
              <span>Marc Wissler, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img src="<%= asset_path 'team/sockenpuppe.jpg' %>" />
              </a>
              <span>Kevin Steinle, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img class="selfmade" src="<%= asset_path 'team/christian_s.jpg' %>" />
              </a>
              <span>Christian Seidel, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img src="<%= asset_path 'team/sockenpuppe.jpg' %>" />
              </a>
              <span>Wolfram Müller, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img src="<%= asset_path 'team/sockenpuppe.jpg' %>" />
              </a>
              <span>Jona Böddinghaus, Freiburg</span>
            </div>


            <div class="clearfix"></div>
            
            <h1><%= I18n.t 'home_page.about.team.former_members' %></h1>
            
            <div class="team-member">
              <img class="selfmade" src="<%= asset_path 'team/maggie.jpg' %>" />
              <span>Maggie, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img class="selfmade" src="<%= asset_path 'team/robin.jpg' %>" />
              </a>
              <span>Robin Kaltenbach, Freiburg</span>
            </div>

            <div class="team-member">
              <img class="selfmade" src="<%= asset_path 'team/christian.jpg' %>" />
              <span>Christian Wansart, Osnabrück</span>
            </div>

            <div class="team-member">
              <a href="http://www.mohr-media.de" target="_blank">
                <img src="<%= asset_path 'team/thomas.jpg' %>" />
              </a>
              <span>Thomas Mohr, Waldkirch</span>
            </div>
                        
            <div class="team-member">
              <a href="http://www.david-canela.com" target="_blank">
                <img src="<%= asset_path 'team/david.jpg' %>" />
              </a>
              <span>David Canela, Basel</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.facebook.com/anand.baumunk" target="_blank">
                <img class="selfmade" src="<%= asset_path 'team/anand.png' %>" />
              </a>
              <span>Anand, Freiburg</span>
            </div>
            
            <div class="team-member">
              <img class="selfmade" src="<%= asset_path 'team/parastou.jpg' %>" />
              <span>Parastou, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="http://www.twitter.com/JulianSchmid" target="_blank">
                <img src="<%= asset_path 'team/julian.jpg' %>" />
              </a>
              <span>Julian Schmid, Freiburg</span>
            </div>
            
            <div class="team-member">
              <img class="selfmade" src="<%= asset_path 'team/elena.jpg' %>" />
              <span>Elena, Freiburg</span>
            </div>
            
            <div class="team-member">
              <a href="#">
                <img class="selfmade" src="<%= asset_path 'team/max.jpg' %>" />
              </a>
              <span>Max Buck, Freiburg</span>
            </div>
          </div>
        </div>        
      </div>
    </div>  
</div>

<div id="sitemap" class>
</div>

    <!-- add for preloading hover images -->
<img class="img-preloader" src="<%= asset_path 'lp/fb-hover.png' %>">
<img class="img-preloader" src="<%= asset_path 'lp/switch_down_btn_mouseover.png' %>">
<img class="img-preloader" src="<%= asset_path 'lp/switch_down_btn_pressed.png' %>">
<img class="img-preloader" src="<%= asset_path 'lp/switch_up_btn_mouseover.png' %>">
<img class="img-preloader" src="<%= asset_path 'lp/switch_up_btn_normal.png' %>">
<img class="img-preloader" src="<%= asset_path 'lp/switch_up_btn_pressed.png' %>">



<script type="text/x-handlebars" data-template-name="menue">
  <ul>
    <li><a href="#" {{action "aboutClicked"}}><%= I18n.t 'menue.about' %></a></li>
	<li><%= link_to I18n.t('menue.news'), announcements_path %></li>
	<li><%= link_to I18n.t('menue.annals'), annals_path %></li>
  <!-- li><%= link_to I18n.t('menue.special_offers'), special_offers_path %></li -->
    <% if I18n.locale == :de %>
      <li><a href="http://wiki.wack-a-doo.de/" target="_blank"><%= I18n.t 'menue.wiki' %></a></li>
      <li><a href="http://blog.5dlab.com/" target="_blank"><%= I18n.t 'menue.blog' %></a></li>
    <% elsif I18n.locale == :en %>
      <li><a href="http://wiki.wack-a-doo.com/" target="_blank"><%= I18n.t 'menue.wiki' %></a></li>
      <li><a href="http://blog.5dlab.com/?lang=en" target="_blank"><%= I18n.t 'menue.blog' %></a></li>
    <% end %>
    <li><%= link_to I18n.t('menue.agb'), :controller => :static, :action => :legal, :anchor => :terms %></li>
    <li><%= link_to I18n.t('menue.imprint'), :controller => :static, :action => :legal %></li>
    <li>
      {{#if controller.signinContext }}
        <a href="#" {{action "showSignup"}}><%= I18n.t 'menue.signup' %></a>
      {{else}}
        <a href="#" {{action "showSignin"}}><%= I18n.t 'menue.signin' %></a>
      {{/if}}
    </li>
  </ul>
</script>


<script type="text/x-handlebars" data-template-name="toggle-view">
  {{#if controller.signinContext}}
    <%= I18n.t 'home_page.togglebar.signup' %>
  {{else}}
    <%= I18n.t 'home_page.togglebar.signin' %>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="bar-view">
 {{#unless hidden}}
   {{#if signinType }}
     {{view Portal.SigninBarView }}
   {{/if}}
   {{#if signupType }}
     {{view Portal.SignupBarView }}
   {{/if}}
 {{/unless}}
</script>


<script type="text/x-handlebars" data-template-name="signup-form">
<div class="form-fields-group">
  {{#if registrationStatus.isLoading}}
    {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}}
  {{else}}
    {{#if registrationStatus.canSignup }}
      <div class="form-div" title="Gib hier Deine Email ein.">
        {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email' %>" valueBinding="Portal.DialogController.credentials.email"}}
      </div>
      <div class="form-div">
        <div title="Gib hier das gewünschte Passwort ein.">
        {{view Portal.TextField id="password" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.password' %>" type="password" valueBinding="Portal.DialogController.credentials.password"}}
        </div>
      </div>    
      <div class="form-div">
        <div class="checkbox-div">
          {{view Ember.Checkbox classNames="checkbox" checkedBinding="Portal.DialogController.credentials.terms" }} <%= raw I18n.t 'home_page.accept_terms' %>
        </div>  
      {{#if isLoading}}
        <button title="<%= I18n.t 'home_page.signup_tooltip' %>" type="submit" class="submit-button">
          {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
        </button>
      {{else}}
        <button {{action "submit"}} title="<%= I18n.t 'home_page.signup_tooltip' %>" type="submit" class="submit-button">
          <%= I18n.t 'home_page.signup' %>
        </button>
      {{/if}}
      </div>
        <div class="form-div">
        {{#if isFbLoading}}
          <button type="submit" class="fb-button">
            {{view Portal.ActivityIndicatorView classNames="activity-indicator-small-white"}} <%= I18n.t 'home_page.processing' %>
          </button>
        {{else}}
          <button {{action "facebook"}} type="submit" class="fb-button">
            <%= I18n.t 'home_page.signup_with_facebook' %>
          </button>
        {{/if}}
      </div>    {{else}}
      <%= I18n.t 'home_page.no_signup_message' %>
    {{/if}}  
  {{/if}}  
</div>
</script>


<script type="text/x-handlebars" data-template-name="signin-form">
<div class="form-fields-group">
  {{#if registrationStatus.isLoading}}
    {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}}
  {{else}}
    {{#if registrationStatus.canSignin}}
      {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email_or_nickname' %>" valueBinding="Portal.DialogController.credentials.email"}}
      {{view Portal.TextField id="password" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.password' %>" type="password" valueBinding="Portal.DialogController.credentials.password"}}
      {{#if isLoading}}
        <button title="<%= I18n.t 'home_page.signin_tooltip' %>" type="submit" class="submit-button">
          {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
        </button>
      {{else}}
        <button {{action "submit"}} title="<%= I18n.t 'home_page.signin_tooltip' %>" type="submit" class="submit-button">
          <%= I18n.t 'home_page.signin' %>
        </button>
      {{/if}}
        {{#if isFbLoading}}
        <button type="submit" class="fb-button">
          {{view Portal.ActivityIndicatorView classNames="activity-indicator-small-white"}} <%= I18n.t 'home_page.processing' %>
        </button>
      {{else}}
        <button {{action "facebook"}} type="submit" class="fb-button">
          <%= I18n.t 'home_page.signin_with_facebook' %>
        </button>
      {{/if}}    {{else}}
      <%= I18n.t 'home_page.no_signin_message' %>
    {{/if}}
  {{/if}}
 </div>
</script>

<script type="text/x-handlebars" data-template-name="password-form">
<div class="form-fields-group">
  {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email_or_nickname' %>" valueBinding="Portal.DialogController.credentials.email"}}
  {{#if isLoading}}
    <button title="<%= I18n.t 'home_page.password_tooltip' %>" type="submit" class="submit-button">
      {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
    </button>
  {{else}}
    <button {{action "submit"}} title="<%= I18n.t 'home_page.password_tooltip' %>" type="submit" class="submit-button">
      <%= I18n.t 'home_page.reset' %>
      </button>
  {{/if}}
 </div>
</script>
  
<script type="text/x-handlebars" data-template-name="password-change-form">
<div class="form-fields-group">
  {{view Portal.TextField id="email" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.email_or_nickname' %>" valueBinding="Portal.DialogController.credentials.email"}}
  {{view Portal.TextField id="password" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.password_current' %>" type="password" valueBinding="Portal.DialogController.credentials.password"}}
  {{view Portal.TextField id="password_new" class="rounded-corners-4" placeholder="<%= I18n.t 'home_page.password_new' %>" type="password" valueBinding="Portal.DialogController.credentials.password_new"}}
  {{#if isLoading}}
    <button title="<%= I18n.t 'home_page.password_tooltip' %>" type="submit" class="submit-button">
      {{view Portal.ActivityIndicatorView classNames="activity-indicator-small"}} <%= I18n.t 'home_page.processing' %>
    </button>
  {{else}}
    <button {{action "submit"}} title="<%= I18n.t 'home_page.password_tooltip' %>" type="submit" class="submit-button">
      <%= I18n.t 'home_page.password_change' %>
      </button>
  {{/if}}
 </div>
</script>  

<script type="text/x-handlebars" data-template-name="dialog">
<div class="dialog-wrapper">
  {{#if controller.signinContext}}
    {{view Portal.SigninDialog controllerBinding="Portal.DialogController"}}
  {{else}}
    {{#if controller.signupContext}}
      {{view Portal.SignupDialog controllerBinding="Portal.DialogController"}}
    {{else}}
      {{#if controller.passwordContext}}
        {{view Portal.PasswordDialog controllerBinding="Portal.DialogController"}}
      {{else}}
        {{#if controller.passwordChangeContext}}
          {{view Portal.PasswordChangeDialog controllerBinding="Portal.DialogController"}}
        {{/if}}
      {{/if}}}
    {{/if}}}
  {{/if}}
</div>
</script>

<script type="text/x-handlebars" data-template-name="signin-dialog">
  <div class="dialog">
    {{#if registrationStatus.canSignin}}
    <div class="dialog-image">&nbsp;</div>
    <div class="dialog-left-column">
      {{view Portal.SigninBarView}}
    </div>
    <div class="dialog-right-column">
      <ul>
        {{#if Portal.DialogController.lastError}}
          <li class="error">
          {{#unless Portal.DialogController.lastError.notAnError}}
            <%= I18n.t('Error')%>:
          {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
        {{/if}}
        <li><%= I18n.t 'home_page.signin_tooltip' %></li>
        <li><%= I18n.t 'home_page.dialog.signup_help' %> <a href="#" {{action "showSignup" }} ><%= I18n.t 'home_page.dialog.signup_link' %></a></li>
        <li><%= I18n.t 'home_page.dialog.forgotten_password_help' %> <a href="#" {{action "showPasswordReset" }} ><%= I18n.t 'home_page.dialog.forgotten_password_link' %></a></li>
                
        <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="mailto:support@5dlab.com" ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
      </ul>
    </div>
    {{else}}
      <%= I18n.t 'home_page.no_signin_message' %>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="signup-dialog">
  <div class="dialog">
    {{#if showWaitingListNotice}}
      <div class="dialog-right-column">
        <%= raw(I18n.t('home_page.waiting_list_notice')) %>
      </div>
    {{else}}
      {{#if registrationStatus.canSignup}}
        <div class="dialog-image">&nbsp;</div>
        <div class="dialog-left-column">
          {{view Portal.SignupBarView}}
        </div>
        <div class="dialog-right-column">
          <ul>
            {{#if Portal.DialogController.lastError}}
              <li class="error">
              {{#unless Portal.DialogController.lastError.notAnError}}
                <%= I18n.t('Error')%>: 
              {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
            {{/if}}
            <li><%= I18n.t 'home_page.signup_tooltip' %></li>
            <li><%= I18n.t 'home_page.dialog.signin_help' %> <a href="#" {{action "showSignin" }} ><%= I18n.t 'home_page.dialog.signin_link' %></a></li>
            <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="mailto:support@5dlab.com" ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
            
            <% if !@invitation.blank? %>
              <li title="Du bist über einen persönlichen Einladungslink gekommen. Solange Du diesen Vermerk hier siehst, kannst Du sicher sein, dass Dir mit der Einladung vermerkte Vorteile bei einer Neuanmeldung gutgeschrieben werden.">
                Aktive Einladung: <a href="/invitations/<%= @invitation %>"><%= @invitation %></a>
              </li>
            <% end %>            
          </ul>
        </div>
      {{else}}
        <%= I18n.t('home_page.no_signup_message') %>
      {{/if}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="password-dialog">
  <div class="dialog">
    <div class="dialog-image">&nbsp;</div>
    {{#if Portal.DialogController.passwordTokenSent }}
      <div class="dialog-right-column">
        <%= raw(I18n.t('home_page.password_hint')) %>
      </div>
    {{else}}
      {{#if Portal.DialogController.passwordTokenNotSent }}
        <div class="dialog-right-column">
          <%= raw(I18n.t('home_page.password_token_not_sent')) %>
        </div>
      {{else}}
        {{#if Portal.DialogController.passwordSent }}
          <div class="dialog-right-column">
            <%= raw(I18n.t('home_page.password_sent')) %>
          </div>
        {{else}}
          {{#if Portal.DialogController.passwordNotSent }}
            <div class="dialog-right-column">
              <%= raw(I18n.t('home_page.password_not_sent')) %>
            </div>
          {{else}}
            <div class="dialog-left-column">
              {{view Portal.PasswordBarView}}
            </div>
            <div class="dialog-right-column">
              <ul>
                {{#if Portal.DialogController.lastError}}
                  <li class="error">
                  {{#unless Portal.DialogController.lastError.notAnError}}
                    <%= I18n.t('Error')%>: 
                  {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
                {{/if}}
                <li><%= I18n.t 'home_page.password_tooltip' %></li>
                <li><%= I18n.t 'home_page.dialog.signin_help' %> <a href="#" {{action "showSignin" }} ><%= I18n.t 'home_page.dialog.signin_link' %></a></li>
                <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="mailto:support@5dlab.com" ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
              </ul>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="password-change-dialog">
  <div class="dialog">
    <div class="dialog-image">&nbsp;</div>
    
    {{#if Portal.DialogController.passwordChanged }}
      <div class="dialog-right-column">
        <%= raw(I18n.t('home_page.password_changed')) %>
        <li><a href="#" {{action "showSignin" }} ><%= I18n.t 'home_page.dialog.signin_link' %></a></li>
      </div>
    {{else}}  
      <div class="dialog-left-column">
        {{view Portal.PasswordChangeBarView}}
      </div>
      <div class="dialog-right-column">
        <ul>
          {{#if Portal.DialogController.passwordNotChanged }}
            <div class="dialog-right-column">
              {{#if Portal.DialogController.lastError}}
                <li class="error">
                {{#unless Portal.DialogController.lastError.notAnError}}
                  <%= I18n.t('Error')%>: 
                {{/unless}} {{ Portal.DialogController.lastError.msg }}</li>
              {{/if}}
            </div>
          {{/if}}
          <li><%= I18n.t 'home_page.password_tooltip' %></li>
          <li><%= I18n.t 'home_page.dialog.signin_help' %> <a href="#" {{action "showSignin" }} ><%= I18n.t 'home_page.dialog.signin_link' %></a></li>
          <li><%= I18n.t 'home_page.dialog.need_help' %> <a href="mailto:support@5dlab.com" ><%= I18n.t 'home_page.dialog.contact_link' %></a></li>
        </ul>
      </div>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="portal-textfield">
  {{view Portal.ShadowTextField idBinding="shadowId" classBinding="shadowClass" typeBinding="shadowType" isVisibleBinding="shadowIsVisible"}}
</script>
