  <div id="mainbar">
    <div class="center">
      <div id="signin"></div>
    </div>
    <div id="content">
          
      <div id="figures">      
        <div class="center">
          <img id="figures-background" src="ayersrock.png">
          <img id="figures-foreground" src="figures.png">
        </div>
      </div>
      
    </div>
  </div>

  
  <div id="inbetween">
    
    <div id="loginbar">
      <input type="text" value="E-Mail"/>
      <input type="text" value="Password"/>
      <input type="submit" value="Register"/>
    </div>

    
    <div id="menubar">
      <ul>
        <li><a href="#"><%= I18n.t 'menue.about' %></a></li>
        <li><a href="#"><%= I18n.t 'menue.blog' %></a></li>
        <li><a href="#"><%= I18n.t 'menue.forum' %></a></li>
        <li><a href="#"><%= I18n.t 'menue.wiki' %></a></li>
        <li><a href="#"><%= I18n.t 'menue.tof' %></a></li>
        <li><a href="#"><%= I18n.t 'menue.legal' %></a></li>
        <li><a href="#"><%= I18n.t 'menue.signin' %></a></li>
      </ul>
    </div>

        
    <div id="footerbar">
      <img src="wackadoo.png" id="logo-small"  alt="" />
      <%= I18n.t 'home_page.switchbar.teaser' %> <span class="arrow">&nbsp;</span>
    </div>
  </div>
  
  
  <div id="detailsbar" style="display:none;">
  </div>

