<div id="annals-page" class="static-content-page">


<h1><%= I18n.t 'annals.heading' %></h1>
<%= raw(I18n.t 'annals.introduction') %>

<h2><%= I18n.t 'annals.legends.heading' %></h2>
<p><%= I18n.t 'annals.legends.explanation' %></p>

  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Klingling.png' %>" alt="Klingling" />
    <div class="caption">Klingling | Hau<br/><%= I18n.t 'annals.round' %> 2</div>
  </div>

  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Laguei.png' %>" alt="Laguei" />
    <div class="caption">Laguei | HH<br/><%= I18n.t 'annals.round' %> 1</div>
  </div>
  

<div class="clearfix"></div>
<p>&nbsp;</p>


<h2><%= I18n.t 'annals.winners.heading' %></h2>
<p><%= I18n.t 'annals.winners.explanation' %></p>
   
 <div class="annals-alliance">
   <div class="alliance-color aa">AA</div>
   <div class="caption">Army Ants <br/><%= I18n.t 'annals.round' %> 2</div>
 </div>

 <div class="annals-alliance">
   <div class="alliance-color hh">HH</div>
   <div class="caption">Hajos Haufen<br/><%= I18n.t 'annals.round' %> 1</div>
 </div>
 
 <div class="annals-player">
   <img class="annals-avatar" src="<%= asset_path 'annals/Dave.png' %>" alt="Dave" />
   <div class="caption">Dave | DW<br/><%= I18n.t 'annals.round' %> 0</div>
 </div>

<div class="clearfix"></div>
<p>&nbsp;</p>

<h2><%= I18n.t 'annals.rounds.heading' %></h2>

<table>
  <tr>
    <th><%= I18n.t 'annals.round' %></th>
    <th><%= I18n.t 'annals.rounds.name' %></th>
    <th><%= I18n.t 'annals.rounds.ranking' %></th>
    <th><%= I18n.t 'annals.rounds.timespan' %></th>
  </tr>
  <tr>
    <td> 0</td>
    <td><%= I18n.t 'annals.rounds.zero.name' %></td>
    <td><%= link_to (I18n.t 'annals.rounds.ranking'), annals_results_path(:round_number => 0) %></td>
    <td><%= I18n.t 'annals.rounds.zero.timespan' %></td>
  </tr>
  <tr>
    <td> 1</td>
    <td><%= I18n.t 'annals.rounds.one.name' %></td>
    <td><%= link_to (I18n.t 'annals.rounds.ranking'), annals_results_path(:round_number => 1) %></td>
    <td><%= I18n.t 'annals.rounds.one.timespan' %></td>
  </tr>
  <tr>
    <td> 2</td>
    <td><%= I18n.t 'annals.rounds.two.name' %></td>
    <td><%= link_to (I18n.t 'annals.rounds.ranking'), annals_results_path(:round_number => 2) %></td>
    <td><%= I18n.t 'annals.rounds.two.timespan' %></td>
  </tr>
</table>
   
<h2><%= I18n.t 'annals.supporters.heading' %></h2>
<p><%= raw(I18n.t 'annals.supporters.explanation') %></p>
   
   

  <div class="annals-player">
    <a href="https://www.facebook.com/carsten.lavan" target="_blank">
      <img class="annals-avatar" src="<%= asset_path 'annals/Aengus.png' %>" alt="Aengus" />
    </a>
    <div class="caption">Aengus</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Default-male.png' %>" alt="Daemon" />
    <div class="caption">Daemon</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Gharlane.jpg' %>" alt="Gharlane" />
    <div class="caption">Gharlane</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Ladykracher.png' %>" alt="Ladykracher" />
    <div class="caption">Ladykracher</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Laguei.png' %>" alt="Laguei" />
    <div class="caption">Laguei</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Long_John.png' %>" alt="Long_John" />
    <div class="caption">Long_John</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Louto.png' %>" alt="louto" />
    <div class="caption">louto</div>
  </div>
  <div class="annals-player">
    <a href="http://www.woistdeineheimat.de/" target="_blank">
      <img class="annals-avatar border" src="<%= asset_path 'annals/nihau.gif' %>" alt="Ni Hau" />
    </a>
    <div class="caption">Ni Hau</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Trashgod.png' %>" alt="trashgod" />
    <div class="caption">trashgod</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Default-male.png' %>" alt="VIP" />
    <div class="caption">VIP</div>
  </div>
  <div class="annals-player">
    <img class="annals-avatar" src="<%= asset_path 'annals/Wilma_exp.png' %>" alt="Wilma!" />
    <div class="caption">Wilma!</div>
  </div>

 <div class="clearfix"></div>
 <p>&nbsp;</p>

   
<h2><%= I18n.t 'annals.customize.heading' %></h2>

<p><%= I18n.t 'annals.customize.intro' %>:
   <ul>
     <li><%= I18n.t 'annals.customize.image' %></li>
     <li><%= I18n.t 'annals.customize.name' %></li>
     <li><%= I18n.t 'annals.customize.link' %></li>
  </ul>
  <%= I18n.t 'annals.customize.contact_us' %></p>
<p><%= I18n.t 'annals.customize.disclaimer' %></p>
   
</div>