<!DOCTYPE html>
<html>
<head>
  <title>Wack-a-Doo<%= @title.blank? ? "" : " | #{@title}"  %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>

var path_fragments = {
  'de_DE': '/de',
  'en_EN': '/en',
}

window.current_locale = "<%=I18n.t 'locale' %>";
window.locale_path_frag = path_fragments[window.current_locale] || '/en';
</script>

</body>
</html>



