<!DOCTYPE html>
<html lang="<%= I18n.locale %>" >
<head>
  <title>Wack-a-Doo<%= @title.blank? ? "" : " | #{@title}"  %></title>
  <%if @description%>
    <meta name="description" content="<%= @description %>" />
  <%end%>
  <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon" />
  <meta name="google" content="notranslate">
  <%if @display_app_icon %>
    <meta name="apple-itunes-app" content="app-id=558781257">
  <%end%>
  <script>
  
    var pathFragments = {
      'de_DE': '/de',
      'en_US': '/en',
    }
  
    window.currentLocale = "<%= I18n.t 'locale' %>";
    window.localePathFrag = pathFragments[window.currentLocale] || '/de'; // must change this to en as soon as internationalization is working
    window.startMsg = "<%= @message %>";
    
<% if @referer %>
    window.referer = "<%= @referer %>";
<% end %>

<% if !@invitation.nil? %>
    window.invitation = "<%= @invitation %>";
<% end %>

<% if !@player_invitation.nil? %>
    window.playerInvitation = "<%= @player_invitation %>";
<% end %>

<% if !@alliance_invitation.nil? %>
    window.allianceInvitation = "<%= @alliance_invitation %>";
<% end %>

<% if !@retention.nil? %>
    window.retention = "<%= @retention %>";
<% end %>

    // Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33777536-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <%= stylesheet_link_tag    "application" %>
  <%= yield(:javascript) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>



