<% content_for :content do %>
  <div id="top-controls" class="announcements">
    <%= link_to "en", params.merge(locale: :en) %> |
    <%= link_to "de", params.merge(locale: :de) %> &nbsp; &nbsp;
    <a href="http://www.facebook.com/pages/Wackadoo/239722582763809" target="_blank" id="facebook-link" >&nbsp;</a>
    <img class="img-preloader" src="<%= asset_path 'lp/fb-hover.png' %>">
  </div>

  <%= image_tag 'lp/logoswsmall.png', :id => 'wad-logo' %>


  <div id="menubar" class="menubarbackground">
    <ul>
      <li><%= link_to 'Home', root_url %></li>
      <li><%= link_to I18n.t('menue.news'), announcements_path %></li>
      <% if I18n.locale == :de %>
        <li><%= link_to I18n.t('menue.forum'), 'http://forum.wack-a-doo.com/', :target => '_blank' %></li>
        <li><%= link_to I18n.t('menue.blog'),  'http://blog.5dlab.com/',                    :target => '_blank' %></li>
        <li><%= link_to I18n.t('menue.wiki'),  'http://wiki.wack-a-doo.de/',                :target => '_blank' %></li>
      <% else %>  
        <li><%= link_to I18n.t('menue.wiki'),  'http://wiki.wack-a-doo.com/',               :target => "_blank" %></li>
      <% end %>
      
      <li><%= link_to 'Login', '.' %></li>
    </ul>
  </div>
  <div class="menubarbackground-bottom"></div>


  <%= content_for?(:fundamental_content) ? yield(:fundamental_content) : yield %>
  
  
  <br />

  <div id="sitemap">
    <ul>
      <li><%= link_to I18n.t('menue.agb'), :controller => :static, :action => :legal, :anchor => :terms %></li>
      <li><%= link_to I18n.t('menue.imprint'), :controller => :static, :action => :legal %></li>
    </ul>
  </div>  
<% end %>

<%= render :template => 'layouts/application' %>
